In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
df = pd.read_csv('vehicles_dataset.csv')

In [96]:
df.head()

,name,description,make,model,type,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,"\n \n Heated Leather Seats, Nav Sy...",Jeep,Wagoneer,New,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,New,2024,50170.0,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive
2,2024 GMC Yukon XL Denali,NaN,GMC,Yukon XL,New,2024,96410.0,"6.2L V-8 gasoline direct injection, variable v...",8.0,Gasoline,0.0,Automatic,Denali,SUV,4.0,Summit White,Teak/Light Shale,Four-wheel Drive
3,2023 Dodge Durango Pursuit,White Knuckle Clearcoat 2023 Dodge Durango Pur...,Dodge,Durango,New,2023,46835.0,16V MPFI OHV,8.0,Gasoline,32.0,8-Speed Automatic,Pursuit,SUV,4.0,White Knuckle Clearcoat,Black,All-wheel Drive
4,2024 RAM 3500 Laramie,\n \n 2024 Ram 3500 Laramie Billet...,RAM,3500,New,2024,81663.0,24V DDI OHV Turbo Diesel,6.0,Diesel,10.0,6-Speed Automatic,Laramie,Pickup Truck,4.0,Silver,Black,Four-wheel Drive

In [97]:
# check the shape
df.shape

(1002, 18)

In [98]:
# check the null values
df.isnull().sum()

name                0
description        56
make                0
model               0
type                0
year                0
price              23
engine              2
cylinders         105
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     38
drivetrain          0
dtype: int64

In [99]:
# check the data types
df.dtypes

name               object
description        object
make               object
model              object
type               object
year                int64
price             float64
engine             object
cylinders         float64
fuel               object
mileage           float64
transmission       object
trim               object
body               object
doors             float64
exterior_color     object
interior_color     object
drivetrain         object
dtype: object

In [100]:
# dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1002 non-null   object
 1   description     946 non-null    object
 2   make            1002 non-null   object
 3   model           1002 non-null   object
 4   type            1002 non-null   object
 5   year            1002 non-null   int64
 6   price           979 non-null    float64
 7   engine          1000 non-null   object
 8   cylinders       897 non-null    float64
 9   fuel            995 non-null    object
 10  mileage         968 non-null    float64
 11  transmission    1000 non-null   object
 12  trim            1001 non-null   object
 13  body            999 non-null    object
 14  doors           995 non-null    float64
 15  exterior_color  997 non-null    object
 16  interior_color  964 non-null    object
 17  drivetrain      1002 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 141.0+ KB

In [101]:
df_null = df.isnull().sum()

In [102]:
import re
def cln_text(text):
    if isinstance(text, str):
        return re.sub(r'[^A-Za-z0-9\s]+', '', text)
    else:
        return text

In [103]:
df['description'] = df['description'].apply(cln_text)

In [104]:
df['description'][26:28]

26    \n      \n        2437 off MSRP Buy with confi...
27    \n      \n        750 off MSRP 2024 Chrysler P...
Name: description, dtype: object

In [105]:
df.head(2)

,name,description,make,model,type,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,\n \n Heated Leather Seats Nav Sys...,Jeep,Wagoneer,New,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive
1,2024 Jeep Grand Cherokee Laredo,Al West is committed to offering every custome...,Jeep,Grand Cherokee,New,2024,50170.0,OHV,6.0,Gasoline,1.0,8-Speed Automatic,Laredo,SUV,4.0,Metallic,Global Black,Four-wheel Drive

In [106]:
df.nunique()

name              358
description       761
make               28
model             153
type                1
year                3
price             859
engine            100
cylinders           5
fuel                7
mileage            95
transmission       38
trim              197
body                8
doors               4
exterior_color    263
interior_color     91
drivetrain          4
dtype: int64

In [107]:
df.head(1)

,name,description,make,model,type,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,\n \n Heated Leather Seats Nav Sys...,Jeep,Wagoneer,New,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive

In [108]:
df_null

name                0
description        56
make                0
model               0
type                0
year                0
price              23
engine              2
cylinders         105
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     38
drivetrain          0
dtype: int64

# Make some Feature engineer

#### drop the descritption

In [109]:
df.drop(columns='description',inplace=True)

In [110]:
df.head(1)

,name,make,model,type,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,2024 Jeep Wagoneer Series II,Jeep,Wagoneer,New,2024,74600.0,24V GDI DOHC Twin Turbo,6.0,Gasoline,10.0,8-Speed Automatic,Series II,SUV,4.0,White,Global Black,Four-wheel Drive

In [111]:
df_null

name                0
description        56
make                0
model               0
type                0
year                0
price              23
engine              2
cylinders         105
fuel                7
mileage            34
transmission        2
trim                1
body                3
doors               7
exterior_color      5
interior_color     38
drivetrain          0
dtype: int64

In [112]:
df.dtypes

name               object
make               object
model              object
type               object
year                int64
price             float64
engine             object
cylinders         float64
fuel               object
mileage           float64
transmission       object
trim               object
body               object
doors             float64
exterior_color     object
interior_color     object
drivetrain         object
dtype: object

In [113]:
df['price'].fillna(df['price'].mean(),inplace=True)

In [116]:
df['cylinders'].fillna(df['cylinders'].mode()[0],inplace=True)

In [118]:
df['engine'].fillna(df['engine'].mode()[0],inplace=True)

In [120]:
df['fuel'].fillna(df['fuel'].mode()[0],inplace=True)

In [122]:
df['mileage'].fillna(df['mileage'].mode()[0],inplace=True)

In [124]:
df['transmission'].fillna(df['transmission'].mode()[0],inplace=True)

In [126]:
df['trim'].fillna(df['trim'].mode()[0],inplace=True)

In [128]:
df['body'].fillna(df['body'].mode()[0],inplace=True)

In [130]:
df['doors'].fillna(df['doors'].mode()[0],inplace=True)

In [134]:
df['exterior_color'].fillna(df['exterior_color'].mode()[0],inplace=True)

In [136]:
df['interior_color'].fillna(df['interior_color'].mode()[0],inplace=True)

In [137]:
df.isnull().sum()

name              0
make              0
model             0
type              0
year              0
price             0
engine            0
cylinders         0
fuel              0
mileage           0
transmission      0
trim              0
body              0
doors             0
exterior_color    0
interior_color    0
drivetrain        0
dtype: int64

In [221]:
df_copy = df.copy()

In [140]:
df_copy.isnull().sum()

name              0
make              0
model             0
type              0
year              0
price             0
engine            0
cylinders         0
fuel              0
mileage           0
transmission      0
trim              0
body              0
doors             0
exterior_color    0
interior_color    0
drivetrain        0
dtype: int64

In [144]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder
ohe = OneHotEncoder()
lenc = LabelEncoder()
ord_enc = OrdinalEncoder()

In [145]:
df_copy.nunique()

name              358
make               28
model             153
type                1
year                3
price             860
engine            100
cylinders           5
fuel                7
mileage            95
transmission       38
trim              197
body                8
doors               4
exterior_color    263
interior_color     91
drivetrain          4
dtype: int64

In [147]:
df_copy.dtypes

name               object
make               object
model              object
type               object
year                int64
price             float64
engine             object
cylinders         float64
fuel               object
mileage           float64
transmission       object
trim               object
body               object
doors             float64
exterior_color     object
interior_color     object
drivetrain         object
dtype: object

In [151]:
num_cols = []
for col in df_copy.columns:
    if df_copy[col].dtypes == 'int64':
        num_cols.append(col)

In [152]:
num_cols

['year']

In [153]:
float_cols = []
for col in df_copy.columns:
    if df_copy[col].dtypes == 'float64':
        float_cols.append(col)

In [154]:
float_cols

['price', 'cylinders', 'mileage', 'doors']

In [155]:
cat_cols = []
for col in df_copy.columns:
    if df_copy[col].dtypes == 'object':
        cat_cols.append(col)

In [186]:
type(cat_cols)

list

In [176]:
df_copy.columns

Index(['name', 'make', 'model', 'type', 'year', 'price', 'engine', 'cylinders',
       'fuel', 'mileage', 'transmission', 'trim', 'body', 'doors',
       'exterior_color', 'interior_color', 'drivetrain'],
      dtype='object')

In [193]:
df_copy.shape

(1002, 17)

In [223]:
df_copy[cat_cols]=lenc.fit_transform(cat_cols)

In [224]:
df_copy.head(1)

,name,make,model,type,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
0,8,6,7,11,2024,74600.0,2,6.0,4,10.0,9,10,0,4.0,3,5,1

In [227]:
df_copy.corr()

,name,make,model,type,year,price,engine,cylinders,fuel,mileage,transmission,trim,body,doors,exterior_color,interior_color,drivetrain
name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
make,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,NaN,NaN,NaN,NaN,1.000000,0.011855,NaN,-0.294310,NaN,-0.087982,NaN,NaN,NaN,0.065008,NaN,NaN,NaN
price,NaN,NaN,NaN,NaN,0.011855,1.000000,NaN,0.357084,NaN,0.077326,NaN,NaN,NaN,-0.070232,NaN,NaN,NaN
engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cylinders,NaN,NaN,NaN,NaN,-0.294310,0.357084,NaN,1.000000,NaN,0.032283,NaN,NaN,NaN,-0.192240,NaN,NaN,NaN
fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mileage,NaN,NaN,NaN,NaN,-0.087982,0.077326,NaN,0.032283,NaN,1.000000,NaN,NaN,NaN,-0.026556,NaN,NaN,NaN
transmission,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
body,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
doors,NaN,NaN,NaN,NaN,0.065008,-0.070232,NaN,-0.192240,NaN,-0.026556,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
exterior_color,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
interior_color,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drivetrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
df[float_cols].corr()

              price  cylinders   mileage     doors
price      1.000000   0.357084  0.077326 -0.070232
cylinders  0.357084   1.000000  0.032283 -0.192240
mileage    0.077326   0.032283  1.000000 -0.026556
doors     -0.070232  -0.192240 -0.026556  1.000000

In [264]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-macosx_12_0_arm64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in /Applications/anaconda3/lib/python3.11/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /Applications/anaconda3/lib/python3.11/site-packages (from xgboost) (1.11.4)
Downloading xgboost-2.0.3-py3-none-macosx_12_0_arm64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 19.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [265]:
from sklearn.linear_model import Ridge,ElasticNet,Lasso
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

In [239]:
X=df_copy.drop(columns='price')
y=df_copy['price']

In [240]:
from sklearn.model_selection import train_test_split

In [241]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=21)

In [268]:
models = {
    'ridge':Ridge(),
    'rfr' : RandomForestRegressor(),
    'elasticnet': ElasticNet(),
    'ada': AdaBoostRegressor(),
    'grB':GradientBoostingRegressor(),
    'Lasso':Lasso(),
    'dtr':DecisionTreeRegressor(),
    'svr':SVR(),
    'KNNr':KNeighborsRegressor(),
    'XGR':XGBRegressor()
}

In [269]:
for name, mode in models.items():
    mode.fit(X_train,y_train)
    print(f"Model Score({name}): ",mode.score(X_train,y_train))

Model Score(ridge):  0.14976461710226407
Model Score(rfr):  0.38504717864252935
Model Score(elasticnet):  0.13112388719800772
Model Score(ada):  0.15783448013332713
Model Score(grB):  0.33025348712206215
Model Score(Lasso):  0.14976899194636806
Model Score(dtr):  0.4074786438937865
Model Score(svr):  -0.021758044510019836
Model Score(KNNr):  0.18886240721894376
Model Score(XGR):  0.40716139127197126

# Try with ANN

In [271]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dropout,Dense,MaxPooling2D,Input

In [272]:
ann = Sequential()
ann.add(Dense(128,activation='relu',input_dim=16))

/Applications/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [273]:
ann.add(Dropout(0.2))
ann.add(Dense(64,activation='relu'))
ann.add(Dropout(0.2))
ann.add(Dense(64,activation='relu'))
ann.add(Dropout(0.2))
ann.add(Dense(32,activation='relu'))
ann.add(Dropout(0.2))
ann.add(Dense(16,activation='relu'))
ann.add(Dense(1,activation='linear'))

In [274]:
from keras.optimizers import Adam

In [275]:
ann.compile(optimizer=Adam(learning_rate=0.001),loss='mean_squared_error')

In [276]:
ann.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 128)            │         2,176 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_1 (Dropout)             │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 64)             │         4,160 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_2 (Dropout)             │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_3 (Dropout)             │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 17,217 (67.25 KB)

 Trainable params: 17,217 (67.25 KB)

 Non-trainable params: 0 (0.00 B)

In [279]:
ann.fit(X_train,y_train,epochs=100,batch_size=32,verbose=1)

Epoch 1/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 393450336.0000
Epoch 2/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 543us/step - loss: 440945184.0000
Epoch 3/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - loss: 391597696.0000
Epoch 4/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 401251712.0000
Epoch 5/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - loss: 436911488.0000
Epoch 6/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - loss: 365707104.0000
Epoch 7/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - loss: 404494368.0000
Epoch 8/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 414903392.0000
Epoch 9/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - loss: 395081920.0000
Epoch 10/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - loss: 384996768.0000
Epoch 11/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 381545216.0000
Epoch 12/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - loss: 379230912.0000
Epoch 13/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 400100800.0000
Epoch 14/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 376830240.0000
Epoch 15/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - loss: 385671232.0000
Epoch 16/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - loss: 398868864.0000
Epoch 17/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - loss: 413475296.0000
Epoch 18/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 414829280.0000
Epoch 19/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - loss: 426472704.0000
Epoch 20/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 359217632.0000
Epoch 21/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 368077088.0000
Epoch 22/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - loss: 415140128.0000
Epoch 23/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - loss: 382536992.0000
Epoch 24/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - loss: 362811776.0000
Epoch 25/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - loss: 363986272.0000
Epoch 26/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - loss: 386193248.0000
Epoch 27/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - loss: 393575136.0000
Epoch 28/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - loss: 392312864.0000
Epoch 29/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 355769376.0000
Epoch 30/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - loss: 467481760.0000
Epoch 31/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 359302368.0000
Epoch 32/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - loss: 438808640.0000
Epoch 33/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 486395808.0000
Epoch 34/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - loss: 398440736.0000
Epoch 35/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - loss: 441965440.0000
Epoch 36/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - loss: 409311392.0000
Epoch 37/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - loss: 432520864.0000
Epoch 38/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - loss: 371594304.0000
Epoch 39/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 356354816.0000
Epoch 40/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - loss: 364411392.0000
Epoch 41/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step - loss: 390793312.0000
Epoch 42/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 396510400.0000
Epoch 43/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 424431488.0000
Epoch 44/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 394118368.0000
Epoch 45/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 377435648.0000
Epoch 46/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 434651616.0000
Epoch 47/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - loss: 386232416.0000
Epoch 48/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - loss: 392064160.0000
Epoch 49/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - loss: 376555520.0000
Epoch 50/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 357956000.0000
Epoch 51/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - loss: 405859168.0000
Epoch 52/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 397854464.0000
Epoch 53/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 384251040.0000
Epoch 54/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - loss: 399167424.0000
Epoch 55/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 416900480.0000
Epoch 56/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - loss: 388937312.0000
Epoch 57/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - loss: 382091648.0000
Epoch 58/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step - loss: 418833152.0000
Epoch 59/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - loss: 394011872.0000
Epoch 60/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - loss: 379415360.0000
Epoch 61/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 438532544.0000
Epoch 62/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - loss: 433427648.0000
Epoch 63/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 353295584.0000
Epoch 64/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - loss: 400678944.0000
Epoch 65/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 389392224.0000
Epoch 66/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 353752896.0000
Epoch 67/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - loss: 379303744.0000
Epoch 68/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - loss: 405629248.0000
Epoch 69/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step - loss: 471099616.0000
Epoch 70/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step - loss: 352900768.0000
Epoch 71/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - loss: 448430368.0000
Epoch 72/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 355722368.0000
Epoch 73/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - loss: 385858496.0000
Epoch 74/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 432817280.0000
Epoch 75/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - loss: 450225056.0000
Epoch 76/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 383632480.0000
Epoch 77/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 445157920.0000
Epoch 78/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 607us/step - loss: 413067456.0000
Epoch 79/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 358826560.0000
Epoch 80/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - loss: 391210176.0000
Epoch 81/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - loss: 444822752.0000
Epoch 82/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 385448896.0000
Epoch 83/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 352938880.0000
Epoch 84/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 682us/step - loss: 398572672.0000
Epoch 85/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 604us/step - loss: 448957632.0000
Epoch 86/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 398183136.0000
Epoch 87/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - loss: 438013024.0000
Epoch 88/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 658us/step - loss: 458799648.0000
Epoch 89/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 871us/step - loss: 419907360.0000
Epoch 90/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 431771328.0000
Epoch 91/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 820us/step - loss: 378306400.0000
Epoch 92/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 429955552.0000
Epoch 93/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 629us/step - loss: 486457152.0000
Epoch 94/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - loss: 448075008.0000
Epoch 95/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 566us/step - loss: 362395584.0000
Epoch 96/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - loss: 361500096.0000
Epoch 97/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 391370400.0000
Epoch 98/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - loss: 362075328.0000
Epoch 99/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 607us/step - loss: 419756768.0000
Epoch 100/100
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - loss: 364651040.0000

In [ ]:
ann.sc