In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.datasets import fetch_california_housing

In [9]:
data=fetch_california_housing()

In [15]:
df=pd.DataFrame(data.data,columns=data.feature_names)

In [16]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [13]:
df['target']=data.target

In [18]:
df.shape

(20640, 8)

In [19]:
## Taking Sample Data
df=df.sample(frac=0.25)

In [20]:
df.shape

(5160, 8)

In [21]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [24]:
from sklearn.tree import DecisionTreeRegressor

In [25]:
reg_tree=DecisionTreeRegressor()

In [26]:
reg_tree

DecisionTreeRegressor()

In [27]:
reg_tree.fit(X_train,y_train)

DecisionTreeRegressor()

In [28]:
y_pred=reg_tree.predict(X_test)

In [29]:
y_pred

array([-118.36, -122.26, -121.57, ..., -118.4 , -117.62, -122.05])

In [30]:
from sklearn.metrics import r2_score

In [31]:
score=r2_score(y_pred,y_test)