#### Q1: Given two arrays, write a python function to return the intersection of the two? For example, X = [1,5,9,0] and Y = [3,0,2,9] it should return [9,0]

In [37]:
X=[1,5,9,0]
Y=[3,0,2,9]
for i in X:
    for j in Y:
        if i==j:
            print(i)

9
0

In [38]:
set(X).intersection(set(Y))

{0, 9}

#### Q2: Given an array, find all the duplicates in this array? For example: input: [1,2,3,1,3,6,5] output: [1,3]

In [39]:
v=[1,2,3,1,3,6,5]
set1=set()
res=set()
for i in v:
    if i in set1:
        res.add(i)
    else:
        set1.add(i)
print(res)
# Set is to identigy the unique elements

{1, 3}

In [40]:
v = [1, 2, 3, 1, 3, 6, 5]

# Create an empty set to store unique elements
unique_elements = set()

# Create an empty list to store duplicate elements
duplicates = []

# Iterate through the list
for element in v:
    # If the element is not in the set, add it
    # If it is already in the set, it's a duplicate
    if element not in unique_elements:
        unique_elements.add(element)
    else:
        duplicates.append(element)

# Print the duplicate elements
print("Duplicate elements:", duplicates)

Duplicate elements: [1, 3]

In [41]:
v=[1,1,5,6,5,8,4,8,7,8,5]
unique=set()
duplicate=set()
for i in adad:
    if i not in unique:
        unique.add(i)
    else:
        duplicate.add(i)
print(duplicate)

{8, 1, 5}

#### Q3: check the no of words in sentences

In [42]:
S="my name is bhiki pallai"
b=S.split(' ')
len(b)

5

#### Q4: Char occurance in a string

In [43]:
s = 'bhiki'

# Create an empty dictionary to store character counts
char_count = {}

# Iterate through each character in the string
for char in s:
    # If the character is already in the dictionary, increment its count
    if char in char_count:
        char_count[char] += 1
    # If the character is not in the dictionary, add it with count 1
    else:
        char_count[char] = 1

# Print the character counts
for char, count in char_count.items():
    print(f"Character '{char}' occurs {count} times in the string.")

Character 'b' occurs 1 times in the string.
Character 'h' occurs 1 times in the string.
Character 'i' occurs 2 times in the string.
Character 'k' occurs 1 times in the string.

#### Q5: Reverse a string

In [56]:
s1='bhiki'
s1[::-1]

'ikihb'

In [57]:
original_string = "hello"
reversed_string = ''
for char in original_string:
    reversed_string = char + reversed_string
print(reversed_string)

olleh

#### Q6: reverse a int

In [59]:
a=12345
rev=int(str(a)[::-1])
rev

54321