In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    'color':['red','blue','green','blue','red','green']
})

In [4]:
df

   color
0    red
1   blue
2  green
3   blue
4    red
5  green

In [5]:
# create an instane of one hot encoder

In [6]:
enc=OneHotEncoder()

In [8]:
enc.fit_transform(df[['color']])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [9]:
enc.fit_transform(df[['color']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [10]:
encode = enc.fit_transform(df[['color']])

In [13]:
df_enc = pd.DataFrame(encode.toarray(),columns=enc.get_feature_names_out())

In [14]:
df_enc

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0
5         0.0          1.0        0.0

In [15]:
pd.concat([df,df_enc])

   color  color_blue  color_green  color_red
0    red         NaN          NaN        NaN
1   blue         NaN          NaN        NaN
2  green         NaN          NaN        NaN
3   blue         NaN          NaN        NaN
4    red         NaN          NaN        NaN
5  green         NaN          NaN        NaN
0    NaN         0.0          0.0        1.0
1    NaN         1.0          0.0        0.0
2    NaN         0.0          1.0        0.0
3    NaN         1.0          0.0        0.0
4    NaN         0.0          0.0        1.0
5    NaN         0.0          1.0        0.0

In [17]:
pd.concat([df,df_enc],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3   blue         1.0          0.0        0.0
4    red         0.0          0.0        1.0
5  green         0.0          1.0        0.0