In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [2]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
thisdict['brand']

'Ford'

In [5]:
thisdict['model']

'Mustang'

In [6]:
len(thisdict)

3

In [9]:
thisdict['colors']=['red','white','blue']
# add new key and values and to the existing dict

In [10]:
thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [11]:
type(thisdict)

dict

In [12]:
# dict constructor

In [13]:
thisdict=dict(name='john',age=36,country='india')

In [14]:
thisdict

{'name': 'john', 'age': 36, 'country': 'india'}

In [15]:
# access items

In [16]:
thisdict = {
    "brand":'ford',
    "model":'Mustang',
    'year':1964
}

In [17]:
x=thisdict['model']

In [18]:
x

'Mustang'

In [19]:
x=thisdict.get('model')

In [20]:
x

'Mustang'

In [21]:
# get the keys
x  = thisdict.keys()

In [22]:
x

dict_keys(['brand', 'model', 'year'])

In [23]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

In [24]:
x=car.keys()

In [25]:
x

dict_keys(['brand', 'model', 'year'])

In [26]:
car['color']="white"

In [27]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [28]:
x

dict_keys(['brand', 'model', 'year', 'color'])

In [29]:
# get the values

In [30]:
x=thisdict.values()

In [31]:
x

dict_values(['ford', 'Mustang', 1964])

In [32]:
x=car.values()

In [33]:
x

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [34]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [35]:
# The items() method will return each item in a dictionary, as tuples in a list.

In [36]:
if 'model' in thisdict:
    print('complete')

complete

In [37]:
# change the values

In [38]:
thisdict['year']=2023

In [39]:
thisdict

{'brand': 'ford', 'model': 'Mustang', 'year': 2023}

In [40]:
thisdict.update({'year':2020})

In [41]:
thisdict

{'brand': 'ford', 'model': 'Mustang', 'year': 2020}

In [42]:
# add items

In [43]:
thisdict['color']='blue'

In [44]:
thisdict

{'brand': 'ford', 'model': 'Mustang', 'year': 2020, 'color': 'blue'}

In [45]:
thisdict['tyre']='mrf'

In [46]:
thisdict

{'brand': 'ford',
 'model': 'Mustang',
 'year': 2020,
 'color': 'blue',
 'tyre': 'mrf'}

In [47]:
thisdict.update({'mass':'mass'})

In [48]:
thisdict

{'brand': 'ford',
 'model': 'Mustang',
 'year': 2020,
 'color': 'blue',
 'tyre': 'mrf',
 'mass': 'mass'}

In [49]:
# removing items

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [51]:
thisdict.pop('model')

'Mustang'

In [52]:
thisdict

{'brand': 'Ford', 'year': 1964}

In [53]:
thisdict.popitem()

('year', 1964)

In [54]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [55]:
thisdict.popitem()

('year', 1964)

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [57]:
del thisdict['model']

In [58]:
thisdict

{'brand': 'Ford', 'year': 1964}

In [60]:
thisdict.clear()

In [61]:
thisdict

{}

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [63]:
for x in thisdict:
    print(x)

brand
model
year

In [64]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [65]:
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [66]:
for x in thisdict.keys():
    print(x)

brand
model
year

In [67]:
for x,y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 1964

In [68]:
# copy the dictionaries

In [69]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [70]:
di=thisdict.copy()

In [71]:
di

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [72]:
di2=dict(di)

In [73]:
di2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [74]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [75]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [76]:
myfamily['child3']

{'name': 'Linus', 'year': 2011}

In [77]:
myfamily['child3']['name']

'Linus'

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [78]:
a=33
b=200
if b>a:
    print('yes')

yes

In [79]:
# elif

In [81]:
if b>a:
    print('yes its passed')
elif a==b:
    print('fail')

yes its passed

In [82]:
# if elif else

In [83]:
a=100
b=22
if b>a:
    print('b is greater')
elif a==b:
    print('equal')
else:
    print('small')

small

In [84]:
if b>a:
    print('yes')
else:
    print('falsw')

falsw

In [85]:
# short hand if else

In [86]:
if a>b: print('a is greater')

a is greater

In [87]:
print ('a') if b>a else print('b')

b

In [88]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [90]:
a=200
b=33
c=500
if a>b and c>a:
    print('pass')

pass

In [91]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [92]:
a=100
b=33
if not b>a:
    print('pass')

pass

In [94]:
x=40
if x>10:
    print('above ten')
if x>20:
    print('abovetwenty')
else:
    print('wtf')

above ten
abovetwenty

In [95]:
a=400
b=600
if b>a:
    pass

In [97]:
price = int(input("enter price " ))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

enter price 1001
i will not purchase

In [98]:
l = [1,2,3,3,4,5,6,7,8]

In [99]:
l1=[]
for i in l:
    print(i)
    l1.append(i+1)

1
2
3
3
4
5
6
7
8

In [100]:
l1

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [101]:
l = ["sudh" , "kumar" , "pwskills" , "course"]

In [102]:
l2=[]
for i in l:
    l2.append(i.upper())

l2

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [103]:
l = [1,2,3,4,4,"sudh" , "kmumar" , 324,34.456,"abc"]

In [104]:
l_name=[]
l_int=[]
for i in l:
    if type(i)==int or type(i)==float:
        l_int.append(i)
    else:
        l_name.append(i)

In [105]:
l_name

['sudh', 'kmumar', 'abc']

In [106]:
l_int

[1, 2, 3, 4, 4, 324, 34.456]

In [107]:
dict1 = {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}

In [109]:
dict_key=[]
dict_val=[]
for i in dict1.items():
    dict_key.append(i[0])
    dict_val.append(i[1])

In [110]:
dict_key

['a', 'b', 'c']

In [111]:
dict_val

['akshat', 'bhuvan', 'chandan']

In [112]:
for ak in "akshat": 
    print(ak)

a
k
s
h
a
t

# while loop

In [114]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [115]:
i = 1
while i < 6:
    print(i)
    if i==3:
        break
    i += 1

1
2
3

In [120]:
i=0

In [129]:
while i<6:
#     print(i)
    i+=1
    if i ==3:
     continue
    print(i)

In [126]:
while i<6:
    print(i)
    if i ==3:
        continue
        i+=1

In [127]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [130]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For loops

In [132]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [133]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [134]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)
    if i == "banana":
        break

apple
banana

In [137]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [138]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x=='banana':
        continue
    print(x)

apple
cherry

In [139]:
# range function

In [141]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [142]:
# range parameter
for i in range(2,6):
    print(i)

2
3
4
5

In [144]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [145]:
for i in range(8):
    print(i)
else:
    print('cmop')

0
1
2
3
4
5
6
7
cmop

In [149]:
for x in range(6):
    if x==3:
        break
    print(x)
else:
    print('not printd')

0
1
2

In [150]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [151]:
for x in[0,1,2]:
    pass

# loop from pw skills

In [152]:
l = [1,2,3,4,5]

In [153]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [154]:
l1 = ["sudh" ,"kumar" , "krish" ,"naik"]

In [155]:
for i in l1:
    print(i)

sudh
kumar
krish
naik

In [156]:
for i in l1:
    print(i)
else:
    print('at last i will print')

sudh
kumar
krish
naik
at last i will print

In [157]:
for i in l1:
    if i == 'kumar':
        break
    print(i)

sudh

In [160]:
for i in l1:
    if i == 'kumar':
        break
print(i)

kumar

In [161]:
for i in l1:
    if i == 'kumar':
        break
    print(i)
else:
    print('i will execute last')

sudh

In [162]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [163]:
for i in l1:
    if i == 'kumar':
        continue
    print(i)
else:
    print('i will execute last')

sudh
krish
naik
i will execute last

In [164]:
range(5)

range(0, 5)

In [165]:
list(range(5))

[0, 1, 2, 3, 4]

In [166]:
list(range(0,25,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [167]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [168]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [169]:
len(l1)

4

In [171]:
list(range(len(l1)))

[0, 1, 2, 3]

In [175]:
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
naik

In [176]:
len(l1)

4

In [177]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [178]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [179]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [180]:
for i in [3, 2, 1, 0]:
    print(l1[i])

naik
krish
kumar
sudh

In [181]:
l2 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]

In [183]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [184]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
67
87
9
8

In [185]:
l

[1, 2, 3, 4, 5]

In [186]:
sum(l)

15

In [187]:
sum_l=0
for i in l:
    sum_l=sum_l+i
    
sum_l

15

In [188]:
t = (1,2,3,4,4,5)

In [190]:
for i in t:
    print(i)

1
2
3
4
4
5

In [191]:
res=0
for i in t:
    res=res+i
    
res

19

In [192]:
s = {1,2,3,4,5 ,"sudh" , "pwskills"}

In [193]:
for i in s:
    print(i)

1
2
3
4
5
pwskills
sudh

In [194]:
s1 = "pwskills"

In [195]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [196]:
d = {"name" : "sudh" , "class" : "data scieince masters" ,
     "topic" : ["python","stats","machine learning","DL","CV" ,"NLP","resume","interview"]}

In [197]:
d

{'name': 'sudh',
 'class': 'data scieince masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [198]:
d['name']

'sudh'

In [199]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [200]:
d.values()

dict_values(['sudh', 'data scieince masters', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [201]:
for i in d.values():
    print(i)

sudh
data scieince masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [202]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data scieince masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [203]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data scieince masters')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])

In [204]:
a= 1 

while a <= 10 :  
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

# pw skills while loop

In [211]:
n = int(input("enter your limit "))
starting_point = 0 
counter = 1

while counter <= n:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter your limit 5

15

In [209]:
starting_point = 0 
counter = 1

while counter <= 10:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

55

In [213]:
number = int(input("enter your number "))
factorial = 1
while number >0:
    factorial =factorial*number
    number = number-1
factorial

enter your number 3

6

In [214]:
#Finonacci series

In [215]:
number = int(input("enter the number of element you are looking for "))
a , b  = 0 , 1 
counter = 0 
while counter < number : 
    print(a)
    c = a+ b
    a = b 
    b = c 
    counter= counter+ 1

enter the number of element you are looking for 5
0
1
1
2
3

In [217]:
a , b  = 0 , 1 

for i in range(5) : 
    print(a)
    c = a+ b
    a = b 
    b = c

0
1
1
2
3

In [218]:
s='bhiki'

In [219]:
s[::-1]

'ikihb'

In [220]:
len(s)

5

In [222]:
word = input("enter your string for reversal ")

enter your string for reversal bhiki

In [225]:
reverse= ''
length=len(word)

while length>0:
    reverse = reverse+word[length-1]
    length=length-1
print(reverse)

ikihb

In [226]:
n = int(input("enter your number"))
i = 1 

while i <= 10  : 
    result = n *i
    print(n ,"* " , i ,"=" ,result)
    i= i+1

enter your number2
2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18
2 *  10 = 20

In [227]:
n = 5 
i = 1
while i < n :
    print(i)
    i = i+ 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3
4
this will be executed once your while will complete it succesfully

In [228]:
n = 5 
i = 1
while i < n :
    print(i)
    if i == 3 :
        break
    i = i+ 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3