In [1]:
import seaborn as sns

In [6]:
data = [[1,2,3],[4,5,6]]

In [7]:
import pandas as pd

In [8]:
df =pd.DataFrame(data,columns=["A","B","C"])

In [10]:
df

   A  B  C
0  1  2  3
1  4  5  6

In [ ]:
##covariance

In [11]:
df.cov()

     A    B    C
A  4.5  4.5  4.5
B  4.5  4.5  4.5
C  4.5  4.5  4.5

In [12]:
df.corr()

     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0